body{
    background:#dee9f3;
}
#topic-bar button {
    float: right;
}

#title-text {
    width:100%;
    text-align:center;
}

#gif-container{
    display:flex;
    flex-wrap:wrap;
}

#gif-container div{
    margin:5px;
}

#gif-container p{
    margin:2px;
}

@media (min-width: 1200px){
.container {
    max-width: 1500px;
}
}

.card{
    margin-bottom:20px;
}

#button-container button {
    margin-right:7px;
}


.btn-primary {
    color: #fff;
    background-color: #179181;
    border-color: #179181;
}